<li id="<%= event.id %>">
  <span class="title">
    <%= event.title %>
  </span> <br>
  <span class="content">
  <%= event.description %>
  </span> <br>
  <span class="event_creator"><%= link_to event.event_creator.name, event.event_creator %></span> 
  <span class="timestamp">
    Posted <%= time_ago_in_words(event.created_at) %> ago.
  </span>
</li>